{% extends "base.twig" %}

{% block title %}Obituario - Peludors{% endblock %}
{% block head %}
    {{ parent() }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
{% endblock %}
{% block content %}

    <h1>Hola soy tu obituario</h1>
{% endblock %}
